doctype 5
html(lang="en")
	head
		title Projects of Robert Ferris [projects.baf.cc]
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		include ../markdown/projects.md
		//a#github-ribbon(href='https://github.com/baffles/projects.baf.cc'): img(src='https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png', alt='Fork me on GitHub')
		#copyright Copyright &copy; Robert Ferris, 2013 [
			a(href='https://github.com/baffles/projects.baf.cc') github
			| ]

